<div id="main_content" class="container">
	<h1>Family</h1>
		<% if user_signed_in? %>
			<% if current_user.contact.nil? %>
			  <li><%= link_to 'Edit contact information', new_contact_path %></li>
			<% else %>
			  <li><%= link_to 'Edit contact information', edit_contact_path(current_user.contact) %></li>
			<% end %>
		<% end %>
		<% @users.each do |user| %>
			<% if user_signed_in? %>
				<% if current_user != user %>
					<h3><%= user.name %></h3>
					<% if current_user.following?(user) %>
						<%= link_to "Not related", unfollow_user_path(user) %>
					<% else %>
						<%= link_to "Related", follow_user_path(user) %>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to "Related", new_user_session_path %>
			<% end %>
		<% end %>
</div>